.instructor-page {
  font-family: 'Open Sans';
  background: #B6CBFE;
  min-height: 100vh;
  display: flex;

  h1 {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    line-height: 100px;
    display: flex;
    align-items: center;
    margin-left: 4vw;
    padding-top: 4vh;
    text-align: center;
  }
}