.sidebar {
	background-color: white;
	box-shadow: 10px 0px 20px;
	color: #333;
	display: flex;
	flex-direction: column;
	height: 100vh;
  width: 500px;
  
  .streamkey {
    position: absolute;
    text-align: center;
    bottom: 20px;
    p {
      text-align: left;
      color: #333;
      margin-left: 2vh;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EEE;
      width: 500px;      
      height: 50px;
      h1 {
        color: #EEE;
        font-size: 24px;
        &:hover {
          cursor: pointer;
          color: black;
        }
      } 

    }
  }
  
	.Buttons {
		display: flex;
		justify-content: space-around;
		margin-left: 3vh;
		margin-right: 3vh;
		margin-top: 3.5vh;
		img {
			margin-right: 5px;
		}
	}
	.ButtonsBot {
    .Buttons;
		margin-bottom: 3.5vh;
	}
	.blocker {
		background-color: #FAFAFA;
		display: flex;
		height: 5vh;
		justify-content: space-between;
		width: 100%;
		img {
			margin-right: 5px;
			&:hover {
				cursor: pointer;
			}
		}
		h1 {
			color: #333;
			font-size: 24px;
			font-weight: 700;
			margin-left: 2vh;
			margin-top: 5px;
			width: 80%;
		}
	}
	.admin {
		display: flex;
		img {
			margin-top: 2px;
			&:hover {
				cursor: pointer;
			}
		}
		.profile {
			margin-right: 3.5vw;
			margin-top: 5px;
			&:hover {
				cursor: pointer;
			}
		}
		.hamburger {
			position: absolute;
			right: 5px;
			top: 5px;
		}
		h1 {
			color: #333;
			font-size: 30px;
			font-weight: 800;
			margin-left: 2vh;
			margin-top: 5px;
			width: 80%;
		}
	}
}
